
deneme-entity/Admin.cs
deneme-entity/Adres.cs
deneme-entity/App.config
deneme-entity/bin/Debug/deneme-entity.exe
deneme-entity/bin/Debug/deneme-entity.exe.config
deneme-entity/bin/Debug/deneme-entity.pdb
deneme-entity/bin/Debug/EntityFramework.dll
deneme-entity/bin/Debug/EntityFramework.SqlServer.dll
deneme-entity/bin/Debug/EntityFramework.SqlServer.xml
deneme-entity/bin/Debug/EntityFramework.xml
deneme-entity/deneme-entity.csproj
deneme-entity/FormBayiSiparis.cs
deneme-entity/FormBayiSiparis.Designer.cs
deneme-entity/FormBayiSiparis.resx
deneme-entity/frmAdminGiris.cs
deneme-entity/frmAdminGiris.Designer.cs
deneme-entity/frmAdminGiris.resx
deneme-entity/frmAdminSayfasi.cs
deneme-entity/frmAdminSayfasi.Designer.cs
deneme-entity/frmAdminSayfasi.resx
deneme-entity/frmBayiGiris.cs
deneme-entity/frmBayiGiris.Designer.cs
deneme-entity/frmBayiGiris.resx
deneme-entity/frmBayii.cs
deneme-entity/frmBayii.Designer.cs
deneme-entity/frmBayii.resx
deneme-entity/frmGiris.cs
deneme-entity/frmGiris.Designer.cs
deneme-entity/frmGiris.resx
deneme-entity/frmKayit.cs
deneme-entity/frmKayit.Designer.cs
deneme-entity/frmKayit.resx
deneme-entity/frmMusteriBilgileri.cs
deneme-entity/frmMusteriBilgileri.Designer.cs
deneme-entity/frmMusteriBilgileri.resx
deneme-entity/frmMusteriIslemler.cs
deneme-entity/frmMusteriIslemler.Designer.cs
deneme-entity/frmMusteriIslemler.resx
deneme-entity/frmMusteriSiparisDurum.cs
deneme-entity/frmMusteriSiparisDurum.Designer.cs
deneme-entity/frmMusteriSiparisDurum.resx
deneme-entity/frmMüsteriGiris.cs
deneme-entity/frmMüsteriGiris.Designer.cs
deneme-entity/frmMüsteriGiris.resx
deneme-entity/frmMüsteriSiparisEkrani.cs
deneme-entity/frmMüsteriSiparisEkrani.Designer.cs
deneme-entity/frmMüsteriSiparisEkrani.resx
deneme-entity/frmSiparis.resx
deneme-entity/Model1.Context.cs
deneme-entity/Model1.Context.tt
deneme-entity/Model1.cs
deneme-entity/Model1.Designer.cs
deneme-entity/Model1.edmx
deneme-entity/Model1.edmx.diagram
deneme-entity/Model1.tt
deneme-entity/Müsteri.cs
deneme-entity/obj/Debug/deneme-entity.csproj.CopyComplete
deneme-entity/obj/Debug/deneme-entity.csproj.CoreCompileInputs.cache
deneme-entity/obj/Debug/deneme-entity.csproj.FileListAbsolute.txt
deneme-entity/obj/Debug/deneme-entity.csproj.GenerateResource.cache
deneme-entity/obj/Debug/deneme-entity.csprojAssemblyReference.cache
deneme-entity/obj/Debug/deneme-entity.exe
deneme-entity/obj/Debug/deneme-entity.pdb
deneme-entity/obj/Debug/deneme_entity.FormBayiSiparis.resources
deneme-entity/obj/Debug/deneme_entity.frmAdminGiris.resources
deneme-entity/obj/Debug/deneme_entity.frmAdminSayfasi.resources
deneme-entity/obj/Debug/deneme_entity.frmBayiGiris.resources
deneme-entity/obj/Debug/deneme_entity.frmBayii.resources
deneme-entity/obj/Debug/deneme_entity.frmGiris.resources
deneme-entity/obj/Debug/deneme_entity.frmKayit.resources
deneme-entity/obj/Debug/deneme_entity.frmMusteriBilgileri.resources
deneme-entity/obj/Debug/deneme_entity.frmMusteriIslemler.resources
deneme-entity/obj/Debug/deneme_entity.frmMusteriSE.resources
deneme-entity/obj/Debug/deneme_entity.frmMusteriSiparisDurum.resources
deneme-entity/obj/Debug/deneme_entity.frmMüsteriGiris.resources
deneme-entity/obj/Debug/deneme_entity.Properties.Resources.resources
deneme-entity/obj/Debug/DesignTimeResolveAssemblyReferences.cache
deneme-entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model.csdl
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model.msl
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model.ssdl
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model1.csdl
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model1.msl
deneme-entity/obj/Debug/edmxResourcesToEmbed/Model1.ssdl
deneme-entity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
deneme-entity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
deneme-entity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
deneme-entity/obj/Debug/TempPE/DenemeModel.Context.cs.dll
deneme-entity/obj/Debug/TempPE/DenemeModel.cs.dll
deneme-entity/obj/Debug/TempPE/DenemeModel.Designer.cs.dll
deneme-entity/obj/Debug/TempPE/Model.Context.cs.dll
deneme-entity/obj/Debug/TempPE/Model.cs.dll
deneme-entity/obj/Debug/TempPE/Model.Designer.cs.dll
deneme-entity/obj/Debug/TempPE/Model1.Context.cs.dll
deneme-entity/obj/Debug/TempPE/Model1.cs.dll
deneme-entity/obj/Debug/TempPE/Model1.Designer.cs.dll
deneme-entity/packages.config
deneme-entity/Program.cs
deneme-entity/Properties/AssemblyInfo.cs
deneme-entity/Properties/Resources.Designer.cs
deneme-entity/Properties/Resources.resx
deneme-entity/Properties/Settings.Designer.cs
deneme-entity/Properties/Settings.settings
deneme-entity/Session.cs
deneme-entity/Singleton.cs
deneme-entity/Siparis.cs
deneme-entity/SiparisUrun.cs
deneme-entity/Sirket.cs
deneme-entity/SirketAdres.cs
deneme-entity/SirketUrun.cs
deneme-entity/sysdiagrams.cs
deneme-entity/Urun.cs
